:root {
    --background: #f1f3f6;
    --primary: #2874f0;
    --white: #ffffff;
   }


.cart-container {
 display: flex;
 background-color: var(--background);
 justify-content: space-evenly;
}

.plist-container {
    display: flex;
    background-color: var(--white);
}

.Tprice-container {
    display: flex;
    background-color: var(--white);
}

.productlist{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.productlist .card{
    display: flex;
    flex-direction: row;
/* align-items: center; */
    height: 50%;
    width: 90%;

    
}

.imag-container {
    display: flex;
    width: 50%;
    /* flex-grow: 1; */
    

}

.text-container{
    display: flex;
    flex-direction: column;
    /* flex-grow: 2; */
    width: 100%;
    /* justify-content: space-around; */
    align-items: flex-start;
    margin-left: 20px;
}

p{
    margin: 10px;
}

button {
    margin: 5px;
}

.counter{
    display: flex;
    
}